<ion-pane class="header">
  <ion-pane style="margin-left: 5%;">
    <ion-label>SIMCEM</ion-label>
  </ion-pane>
</ion-pane>

<ion-content>
  <div class="contenido">
    <div class="contenedor">
      <ion-pane class="titulo">
        <ion-label>Consultas</ion-label>
      </ion-pane>
      <ion-grid class="tabla">
        <ion-row class="fila ion-padding ion-margin" *ngFor="let row of datos">
          <ion-col size="2">
            <ion-label class="columna">{{row.id}} </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label class="columna">{{row.nombre}} </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label class="columna">{{row.fecha}} </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label class="columna">{{row.hora}} </ion-label>
          </ion-col>
          <ion-col size="3">
           <ion-label class="columna" style="font-weight: 600"> {{row.estado}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
