@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

ion-grid {
    align-items: center;
    justify-content: center;
    align-self: center;
}
.exam-row ion-col {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

ion-icon {
    width:25px; 
    height:25px;
}

.header{
    font-weight: 600;
    display:flex;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: white;
    color:black
}

.container{
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: rgba(102, 153, 254, 1) !important;
    border-radius: 10px;
}

.title {
    height: 10%;
    align-items: center;
    text-align: left;
    color:white !important;
    font-weight: 600;
    font-size: larger;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}

.exam-row {
    color:black;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}